.txt {
    font-size: 20px;
    font-style: italic;
}
.ticky {
    padding-top: 7%;
}
.ticky2 {
    padding: 7% 20% 20% 20%;
}
.nho {
    color: red;
}
.footer {
    background-color: #1f343e;
    color: white;
    height: 64px;
}
.txtFooter {
    margin-left: 8%;
    padding-top: 1%;
}
.txtFooter2 {
    margin-left: 26%;
    padding-top: 1%;
}
.footer2 {
    background-color: #1f343e;
    color: white;
    height: 64px;
}