.kiTu {
    font-size: 32px;
    margin-top: -15px;
}

.imgg1, .imgg2, .imgg3 {
    height: 70vh;
    background-size: cover;
    padding: 20% 15% 0% 15%;
}
.imgg1 {
    background-image: url(../img/nen1.jpg);
}
.imgg2 {
    background-image: url(../img/nen2.jpg);
}
.imgg3 {
    background-image: url(../img/nen3.jpg);
}
@media only screen and (max-width: 768px) {
    .an {
        display: none;
    }
}
.slide {
    color: white;
    text-align: center;
    // width: 75%;
}
.slide2 {
    background-color: greenyellow;
    text-align: center;
    color: white;
    // width: 75%;
}