.fa-search{
    color: white;
}
.fa-trash-alt{
    color: #760215;
}
.fa-user-edit{
    color: #020548;
}
.fa-eye{
    color: #2ea9cb;
}
body{
    background-image: url(/img/nen.jpg);
    background-size: cover;
    background-attachment:fixed;
   
}
