
   .divCha {
        h1 {
            color: red;
        }
       .divCon {
           h2 {
               color: blue;
           }
           .divConCon {
               h3 {
                color: violet;
               }
           }
       } 
    }
